*{
    padding:8rem 18%;
}

.section h2{
    font-size:3rem;
    margin-bottom:2rem;
}

.section p{
    color:#94a3b8;
    margin-bottom:1.5rem;
}

/* GRID */
.grid-section{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
    padding:6rem 18%;
}

.card{
    background:rgba(255,255,255,0.03);
    border:1px solid rgba(255,255,255,0.08);
    padding:2.5rem;
    border-radius:20px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-12px);
    border-color:#38bdf8;
}

/* LIST */
.feature-list div{
    padding:1rem;
    border-left:2px solid #38bdf8;
    margin-bottom:1rem;
}

/* TIMELINE */
.step{
    border-left:2px solid #818cf8;
    padding-left:1rem;
    margin-bottom:2rem;
}

/* PRICING */
.pricing{
    padding:6rem 18%;
    text-align:center;
}

.pricing-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
    margin-top:3rem;
}

.price{
    background:rgba(255,255,255,0.03);
    padding:2rem;
    border-radius:20px;
}

.highlight{
    border:1px solid #38bdf8;
    transform:scale(1.05);
}

/* FOOTER */
footer{
    text-align:center;
    padding:5rem;
    color:#64748b;
}

/* RESPONSIVE */
@media(max-width:900px){
    .grid-section,.pricing-grid{
        grid-template-columns:1fr;
    }

    .hero h1{
        font-size:3.5rem;
    }

    .section{
        padding:5rem 10%;
    }
}
